

<header>
    <h1>
        PELIMANIA "LA RIPOLL"
    </h1>
</header>
<h2>CART CONTENT</h2>

<input type="hidden" name="cartId" id="cartId" value="{{cartId}}">

{{#if products.length}}
    <div class="product-cards">
        {{#each products}}
        <div class="product-card">
            <h4>TITLE: {{product.title}}</h4>
            <p>DESCRIPTION: {{product.description}}</p>
            <img src="{{product.thumbail}}" alt="{{product.title}}">
            <div class="botonesQuantity">
                <button class="add-to-cart-btn" data-cart-id="{{cartId}}" onclick="deleteOne('{{cartId}}','{{product._id}}', '{{product}}')">-</button>
                <p> QUANTITY: {{quantity}}</p>
                <button class="add-to-cart-btn" data-cart-id="{{cartId}}" onclick="addProductToCart('{{cartId}}','{{product._id}}', '{{product}}')">+</button>
            </div>
            <p>CATEGORY: {{product.category}}</p>
        </div>
        {{/each}}
        
        {{!-- <h2> TOTAL PRICE: {{cart.totalPrice}}</h2> --}}
        <input type="hidden" name="token" id="token" value="{{token}}">

    </div>

{{else}}
    <p>No products available.</p>
{{/if}}
<div class="contenedor_botones">
            <button class="boton" data-product-id="{{product._id}}" onclick="deleteAll('{{cartId}}')">Remover todo</button>
            <button class="boton" data-token="{{token}}" onclick="buy('{{cartId}}')">COMPRAR</button>
            <button class="boton"><a href="/api/views/purchase">IR A PAGAR</button></a>
</div>
<button class="boton_volver"><a href="/api/views/home">VOLVER</a></button>


<script src="/functions.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

