

<header>
    <h1>
        PELIMANIA "LA RIPOLL"
    </h1>
</header>
<h2>CART CONTENT</h2>

<input type="hidden" id="cid" value="{{ cid }}">

{{#if products.length}}
    <div class="product-cards">
        {{#each products}}
        <div class="product-card">
            <h4>TITLE: {{product.title}}</h4>
            <p>DESCRIPTION: {{product.description}}</p>
            <img src="{{product.thumbail}}" alt="{{product.title}}">
            <div class="botonesQuantity">

                <button class="add-to-cart-btn" onclick="deleteOne('{{cid}}','{{product._id}}', `{{product}}`)">-</button>

                <p> QUANTITY: {{quantity}}</p>
                <button class="add-to-cart-btn" onclick="addProductToCart('{{cid}}','{{product._id}}, `{{product}}`')">+</button>

            </div>
            <p>CATEGORY: {{product.category}}</p>
        </div>
        {{/each}}
        
        <h2> TOTAL PRICE: {{cid.totalPrice}}</h2>
        <button class="add-to-cart-btn" data-product-id="{{product._id}}" onclick="deleteAll('{{cid}}')">Remove all to Cart</button>
        <button>COMPRAR</button>

    </div>

{{else}}
    <p>No products available.</p>
{{/if}}
<script src="/functionsCart.js"></script>
